body {
  background-color: #f8f8f8;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

h3 {
  margin-top: 2rem;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.runo{
  min-height: 14em;
}
.form-group {
  width: 14em;
  margin-right: auto;
  margin-left: auto;
}

.coll {
  margin: 0.5em 1em 0 1em;
}
.row {

}
.intro-header {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}
.intro-message {
    position: relative;
    padding-top: 3%;
    padding-bottom: 5%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
footer {
    padding: 0 0;
    background-color: #f8f8f8;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 1em;
}

p.copyright {
    margin: 15px 0 0;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
